html, body, section, h1 {
	margin: 0;
	height: 100%;
	adding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************/
/*      BASE         */
/*********************/
body {
  	color: #787878;
  	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	line-height: 1.5;
}

h1 {
	padding-top: 40px;
}

/*********************/ 
/* Primary structure */
/*********************/
.container {
	max-width: 960px;
	margin: 0 auto;
}

#introduction {
	text-align: center;
}

section {
	position: relative;
}

.attribution {
	position: absolute;
	right: 0;
	bottom: 0;
	color: rgba(255,255,255, 0.6);
	font-size: 12px;
}

.attribution a {
	color: inherit;
	text-decoration: none;
}

/*********************/ 
/*     Sections      */
/*********************/
section.module:last-child {
	margin-bottom: 0;
}

section.module h2 {
	margin-bottom: 40px;
	margin-top: 40px;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
}

div.container h3 {
	margin-bottom: 40px;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 40px;
}

div.container p {
	margin-bottom: 40px;
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	max-width: 800px;
	margin: 0 auto;
}

div.text {
	max-width: 300px;
	margin: 0 auto;
}

section.module p:last-child {
	margin-bottom: 40px;
}

section.module.content {
	padding: 40px 0;
}

section.module.parallax {
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.module.parallax h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 500px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-0 h1 {
	color: rgba(255, 255, 255, 0.9);
	font-size: 48px;
	font-weight: 600;
	line-height: 100px;
	text-align: center;
	text-transform: none;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

section.module.parallax-0 h2 {
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	line-height: 200px;
	text-align: center;
}

section.module.parallax-0 {
	background-image: url("../img/brygge5-2.jpg");
	height: 768px;
}

section.module.parallax-1 {
	background-image: url("../img/gloshaugen.jpg");
}

section.module.parallax-2 {
	background-image: url("../img/storm.jpg");
}

section.module.parallax-3 {
	background-image: url("../img/group-crop.jpg");
}

section.module.parallax-4 {
	background-image: url("../img/discussion-crop.jpg");
}

section.module.parallax-5 {
	background-image: url("../img/presentation.jpg");
}

@media all and (min-width: 600px) {
	section.module h2 {
		font-size: 42px;
		text-align: center;
	}
	div.container p {
		font-size: 20px;
	}
	section.module.parallax h1 {
		font-size: 96px;
	}
}

@media all and (min-width: 960px) {
	section.module.parallax h1 {
		font-size: 100px;
	}
}

